.widgetContiner {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  height: fit-content;
}
.s{
  max-width: 200px;
  min-width: 200px;
  min-height: 267px;
}
.m{
  max-width: 400px;
  min-width: 400px;
  min-height: 267px;
}
.l{
  max-width: 600px;
  min-width: 600px;
  min-height: 267px;
}
